@using online_shop.ViewModels
@model CarsListViewModel

    <h1>All vehicles</h1>
    <h3>@Model.currCategory</h3>
<div class="row mt-5 mb-2">
    @{ 
        foreach (var car in Model.allCars)
        {
<div class="col-lg-2 ">
    <img class= "img-thumbnail" scr ="@car.img" alt="@car.name" />
    <h2>@car.name</h2>
    <p>@car.Shortdesc</p>
    <p>Цена:@car.price.ToString("c")</p>
    <p><a class=" btn btn-warning" href ="#">More</a></p>
</div>
            }
        }
</div>
